<template>
<div>
   

      <div class="row">
          <h2>Cuentas: </h2>
      </div>
      <hr>
      <div class="row">
          <h2>Crear Cuenta:</h2>
           </div>
            <div class="form-group">
          <label for="exampleInputEmail1">Nombre</label>
           <input type="text" class="form-control" v-model="data.nombre" placeholder="Ej: Ahorros">
      
         </div>
         <div class="form-group">
           <label for="exampleInputPassword1">Tipo Cuenta</label>
           <input type="text" class="form-control" v-model="data.tipo_cuenta" >
         </div>
         <div class="form-group">
           <label for="exampleInputPassword1">Saldo</label>
           <input type="text" class="form-control" v-model="data.saldo">
         </div>
          <div class="form-group">
           <label>Moneda</label>
           <input type="text" class="form-control" v-model="data.moneda">
         </div>
        
         <button class="btn btn-primary" @click="saveData">Guardar</button>
       
          
              
         
    <loading
      :active.sync="isLoading"
      :color="'#1ab394'"
      :can-cancel="false"
      :height="125"
      :width="125"
      :is-full-page="false"
    ></loading> 
</div>
</template>

<script>
import Loading from "vue-loading-overlay";
import vSelect from 'vue-select'
import 'vue-select/dist/vue-select.css';
    export default {
        components:{
             Loading,
             vSelect,
            "bootstrap-modal": require("vue2-bootstrap-modal")
        },
        data() {
            return {
                isLoading:false,
                monedas:[],
                data: {}
            }
        },
        mounted() {
            console.log('Component mounted.');
            this.getMonedas();
            
        },
        methods:{
          select(value){
            alert(value);
          },
          getMonedas(){
            this.isLoading = true;
            axios.get('/get_monedas')
            .then(res => {
            
                this.monedas = res.data.monedas;
                console.error(this.monedas); 
                this.isLoading = false;
            })
            .catch(err => {
              this.isLoading = false;
              console.error(err); 
            })
          },
          saveMoneda(){
            this.isLoading = true;
             axios.post('/save_moneda',{
               moneda: this.selected
             })
             .then(res => {
               if (res.data.success) {
                   alert("Moneda seleccionada correctamente");
                   this.isLoading = false;
               }
             })
             .catch(err => {
               console.error(err); 
               this.isLoading = false;
             })
          }
        }
    }
</script>

<style scoped>

</style>

