<template>
<div>
   

      <h1>Selecciona una divisa: </h1>
   
        <hr>
        
         <div v-for="moneda in monedas" v-bind:key="moneda.value">
         <input type="radio" id="uno" :value="moneda.value" v-model="selected">
         <label> {{ moneda.value }} - {{ moneda.text }} - {{ moneda.country }}</label>
         <br>
         </div>
      
         <hr>
         <div class="row">
           <button class="btn btn-primary" @click="saveMoneda()">Guardar</button>
         </div>
         
         
    <loading
      :active.sync="isLoading"
      :color="'#1ab394'"
      :can-cancel="false"
      :height="125"
      :width="125"
      :is-full-page="false"
    ></loading> 
</div>
</template>

<script>
import Loading from "vue-loading-overlay";
import vSelect from 'vue-select'
import 'vue-select/dist/vue-select.css';
    export default {
        components:{
             Loading,
             vSelect,
            "bootstrap-modal": require("vue2-bootstrap-modal")
        },
        data() {
            return {
                isLoading:false,
                monedas:[],
                selected: ''
            }
        },
        mounted() {
            console.log('Component mounted.');
            this.getMonedas();
            
        },
        methods:{
          select(value){
            alert(value);
          },
          getMonedas(){
            this.isLoading = true;
            axios.get('/get_monedas')
            .then(res => {
            
                this.monedas = res.data.monedas;
                console.error(this.monedas); 
                this.isLoading = false;
            })
            .catch(err => {
              this.isLoading = false;
              console.error(err); 
            })
          },
          saveMoneda(){
            this.isLoading = true;
             axios.post('/save_moneda',{
               moneda: this.selected
             })
             .then(res => {
               if (res.data.success) {
                   alert("Moneda seleccionada correctamente");
                   this.isLoading = false;
               }
             })
             .catch(err => {
               console.error(err); 
               this.isLoading = false;
             })
          }
        }
    }
</script>

<style scoped>

</style>

