<template>
<div>
    <div class="row">
       <h1>Cuentas</h1>
      
    </div>
    <hr>
   <div class="row">
         <div class="col-md-6 jumbotron-fluid">
            <h2> Flujo de efectivo (Grafico con gastos - ingresos) </h2>
         </div>
          <div class="col-md-6">
             <h2>Movimientos</h2>   
         </div>
   </div>
   <hr>
   <div class="row">
       <h2> Ultimos registros </h2>
   </div>
 

</div>
    
</template>
<script>
import Loading from "vue-loading-overlay";

export default {
    components:{
         Loading,
         "bootstrap-modal": require("vue2-bootstrap-modal")
    },
    data() {
        return {
            isOpen: false
        }
    },
    
}
</script>
<style scoped>

</style>
