<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Example Component</div>

                    <div class="card-body">
                        I'm an example component.
                    </div>
                      <a class="dropdown-item" @click="$refs.theModal.open()">Monedas</a>

    
                </div>
            </div>
        </div>
        <bootstrap-modal ref="theModal" :need-header="true" :need-footer="true" :size="'large'">
            <div slot="title">
                <h3>SELECCIONAR MONEDA</h3>
            </div>
            <div slot="body">
                <form>
                    <br />
                    <div class="row">
                        
                        
                    </div>
                </form>
            </div>
            <div slot="footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="$refs.theModal.close()">Cancelar</button>
                
            </div>
        </bootstrap-modal>
    </div>
</template>

<script>
    export default {
        components:{
             "bootstrap-modal": require("vue2-bootstrap-modal")
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
